@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}

@layer utilities {
  .animate-scan {
    animation: scan 3s linear infinite;
  }

  .animate-flicker {
    animation: flicker 2s infinite;
  }

  .animate-pulse-slow {
    animation: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}

@keyframes scan {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 0% 200%;
  }
}

@keyframes flicker {

  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 1;
    filter: drop-shadow(0 0 1px rgba(255, 255, 255, 0.1)) drop-shadow(0 0 2px rgba(255, 0, 0, 0.1)) drop-shadow(0 0 4px rgba(255, 0, 0, 0.1));
  }

  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
    filter: none;
  }
}