@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --accent: 250 84% 54%;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
}

@layer utilities {
  .animate-scan {
    animation: scan 3s linear infinite;
  }

  .animate-flicker {
    animation: flicker 2s infinite;
  }

  .animate-pulse-slow {
    animation: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}

@keyframes scan {
  0% { background-position: 0% 0%; }
  100% { background-position: 0% 200%; }
}

@keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: 1;
    filter: drop-shadow(0 0 1px rgba(255, 255, 255, 0.1)) drop-shadow(0 0 2px rgba(99, 102, 241, 0.2));
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.4;
    filter: none;
  }
}

@layer components {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #27272a;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #3f3f46;
  }
}