server:
  port: 8081

spring:
  application:
    name: nox-platform
  datasource:
    url: jdbc:postgresql://localhost:5432/nox_core
    username: nox
    password: ${DB_PASSWORD:nox_secret}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs

jwt:
  secret: ${JWT_SECRET:404E635266556A586E3272357538782F413F4428472B4B2D5051535546566D59}

security:
  login:
    max-attempts: 5
    lockout-duration-minutes: 15
  otp:
    length: 6
    expiry-minutes: 15
